
.geral{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 20px;
}
.img-grade{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid; */
    
}
.img-principal{
    /* border: 1px solid; */
}
.info-produtos{
    display: flex;
    flex-direction: column;
    max-width: 55%;
}
.quantidade{
    width: 50%;
	margin: 0 auto;
	padding: 10px;
	border: none;
	margin-bottom: 10px;
	border-radius: 50px;
    border: 1px solid;
    
}
.add-to-cart-btn{
    width: 20%;
	margin: 0 auto;
	padding: 10px;
	border: none;
	margin-bottom: 10px;
	border-radius: 50px;

}
.add-to-cart-btn:hover{
    color: white;
    transition: .3s;

}
.spec-produto{
    display: flex;
}
.specs{
    text-decoration: underline;
    margin-right: 5%;
}
